.cadastro-nome {
    width: 45%;
    
}

.campo-email {
    width: 45%;
}

.campo-texto {
    border: 1px solid #ccc;
}

h2 {
    font-size: 20px;
}

.campos-cadastro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.campo-editavel {
    width: 50%;
}